@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter:regular);
@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
    @apply flex flex-col justify-center items-center;
}
.section{
    @apply w-full flex flex-col justify-center items-center;
}
.container{
    @apply flex flex-col justify-center items-center gap-[80px] max-w-[1104px] w-full;
}
.content{
    @apply 2xl:px-[168px] xl:px-[100px] lg:px-[70px] px-[30px] py-[64px] flex flex-col justify-center items-center w-full;
}
body{
    min-width: 400px;
    font-family: Inter;
    @apply bg-bgMain;
}
.absolutebg{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url('../img/Shapes.svg') no-repeat;
    background-size: cover;
}
li{
    @apply flex gap-[8px];
}

.regular{
    @apply text-[20px] leading-[30px] text-textMain font-[400];
}
.span{
    font-family: Architects Daughter;
}
.shadow{box-shadow: 0px 1px 3px 0px rgba(25, 32, 44, 0.04);
}
